* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --mainFontColor: rgba(255, 255, 255, 0.979);
  --secondaryFontColor: rgba(157, 107, 250, 0.979);
}

body {
  color: var(--mainFontColor);
}

header {
  background-image: linear-gradient(
      137deg,
      rgba(138, 255, 179, 0.5662640056022409) 0%,
      rgba(193, 123, 250, 0.48783263305322133) 100%
    ),
    url(imagen21.avif);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  gap: 9vh;
  flex-direction: column;
  align-items: center;
}

.topMenu {
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  gap: 3vh;
  margin: 20px 10px 20px 0;
}

.topMenu a {
  color: var(--mainFontColor);
  text-decoration: none;
  font-size: large;
}

.headerContent {
  display: flex;
  flex-direction: column;
  gap: 4vh;
  align-items: center;
  justify-content: center;
}

.headerContent h1 {
  font-weight: 500;
  font-size: 4em;
}

.headerContent h3 {
  font-size: xx-large;
  font-weight: 400;
}
